In [2]:
a = [10, 5, 20, 30]
a.sort()
a

[5, 10, 20, 30]

In [3]:
b = [1, 5, 1, 23, 4]
print(sorted(b))

[1, 1, 4, 5, 23]

In [4]:
a = [10, 20, 30]
a[len(a):] = [500, 600]
a

[10, 20, 30, 500, 600]

In [6]:
a = [0, 0, 0, 0, 0]
b = a
b[0] = 99
a

[99, 0, 0, 0, 0]

In [9]:
a = [1, 1, 1, 1, 1]
b = a.copy()

print(a is b)
print(a == b)

b[2] = 99
print(a, b)

False
True
[1, 1, 1, 1, 1] [1, 1, 99, 1, 1]

In [18]:
# enumrate: index, value

a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value, sep= ' - ')
    
b = [213, 13, 15, 985, 84]
for i in range(0, len(b)):
    print(b.index(b[i]),  b[i], sep = ' * ')

0 - 38
1 - 21
2 - 53
3 - 62
4 - 19
0 * 213
1 * 13
2 * 15
3 * 985
4 * 84

In [21]:
a = list(map(str, range(10)))
a

b = [10, 10, 20, 30, 40]
print(b.count(10))

2

In [26]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

for row in matrix:
    for i in range(len(row)):
        print(row[i], end = '')

        if i <len(row) -1:
            print(',', end = '')
    print()

1,2,3,4
5,6,7,8
9,10,11,12

In [27]:
rows = 5
cols = 3
my_array = [[0] * cols for _ in range(rows)]

print(my_array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [28]:
matrix = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

for row in matrix:
    print(','.join(map(str, row)))

1,2,3,4
5,6,7,8
9,10,11,12

In [30]:
a = [[10, 20], [30, 40]]
b = a

print(a is b)
print(a == b)

c = b.copy()
print(a is c)
print(a == c)

True
True
False
True

In [31]:
a = [[10, 20], [30, 40]]
import copy
b = copy.deepcopy(a)
a is b, id(a), id(b)

(False, 1733872510208, 1733872514368)

In [33]:
b[0][0] = 999
print(a)
print(b)

[[10, 20], [30, 40]]
[[999, 20], [30, 40]]

In [36]:
s = 'Hello, World'
b = s.replace('Hello', 'python')
b

'python, World'

In [37]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [38]:
'PYTHON'.lower()

'python'

In [40]:
'%.f' % 2.3
'%.2f' % 5.5

'5.50'

In [41]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [43]:
a = "숫자"
print(f"{a} 임?")

숫자 임?

In [47]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

x = path.split('\\')
print(x[-1])

x.reverse()
print(x[0])

python.exe
python.exe

In [49]:
r'C:\Users\dojang\AppData\Local\Programs\Python\Python36-32\python.exe'

'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

In [61]:
# dict 만들기
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
print(lux1)

x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [51]:
x.setdefault('f', 100)

100

In [52]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [53]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.update(a = 90)
x

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [54]:
x.pop('a')
x

{'b': 20, 'c': 30, 'd': 40}

In [55]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [56]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [58]:
x.values()

dict_values([10, 20, 30, 40])

In [60]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# key 
for i in x:
    print(i)

# key, 값 같이
for key, value in x.items():
    print(key, value)

a
b
c
d
a 10
b 20
c 30
d 40

In [66]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
d = {}

for key, values in x.items():
    print(key, values)

# 키 값 뒤집기
for keys, values in x.items():
    d[values] = keys
print(d)

a 10
b 20
c 30
d 40
{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [68]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [70]:
# 뒤집기
{values : keys for keys, values in x.items()}
{values : keys for keys, values in x.items() if values != 20}

{10: 'a', 30: 'c', 40: 'd'}

In [74]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

# print(terrestrial_planet.items())
print(len(terrestrial_planet))
print(terrestrial_planet.keys())
print(terrestrial_planet.values())
print(terrestrial_planet['Venus']['mean_radius'])

4
dict_keys(['Mercury', 'Venus', 'Earth', 'Mars'])
dict_values([{'mean_radius': 2439.7, 'mass': 3.3022e+23, 'orbital_period': 87.969}, {'mean_radius': 6051.8, 'mass': 4.8676e+24, 'orbital_period': 224.70069}, {'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}, {'mean_radius': 3389.5, 'mass': 6.4185e+23, 'orbital_period': 686.96}])
6051.8

In [75]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()
x is y

False

In [76]:
x['a']['python'] = '3.11'
x

{'a': {'python': '3.11'}, 'b': {'python': '3.6'}}

In [77]:
y

{'a': {'python': '3.11'}, 'b': {'python': '3.6'}}

In [78]:
x = {'a': {'python': '3.11'}, 'b': {'python': '3.6'}}
import copy
y = copy.deepcopy(x)
x['a']['python'] is y['a']['python']

True

In [80]:
import copy

original = [[1, 2, 3], [4, 5, 6]]

# 얕은 복사
shallow = copy.copy(original)

# 깊은 복사
deep = copy.deepcopy(original)

print("원본:", original)
print("얕은 복사:", shallow)
print("깊은 복사:", deep)

original[0][0] = 99

print("\n---수정후---")
print("원본:", original)
print("얕은 복사:", shallow)
print("깊은 복사:", deep)

원본: [[1, 2, 3], [4, 5, 6]]
얕은 복사: [[1, 2, 3], [4, 5, 6]]
깊은 복사: [[1, 2, 3], [4, 5, 6]]

---수정후---
원본: [[99, 2, 3], [4, 5, 6]]
얕은 복사: [[99, 2, 3], [4, 5, 6]]
깊은 복사: [[1, 2, 3], [4, 5, 6]]

In [81]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [83]:
# 중복 허용 X

fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [2]:
# []: 리스트, {a: b}: 딕셔너리
# {a, b}: 세트 -> [] 대괄호 쓰지 못함

fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
# fruits[0] -> 안됨

'orange' in fruits

True

In [4]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [88]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [89]:
c = set()
c

set()

In [90]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a | b)
print(set.union(a, b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [91]:
print(a & b)
print(set.intersection(a, b))

{3, 4}
{3, 4}

In [92]:
a |= {5}
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [93]:
def hello():
    print('Hello, world!')
hello()

Hello, world!

In [94]:
def add(a, b):
    """이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."""
    return a + b
 
x = add(10, 20)       
print(x)
 
print(add.__doc__)

30
이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [95]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more positional arguments, return the smallest argument.

In [96]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [99]:
def min(a, b):
    """이 함수는 a와 b를 뺀 값의 절대값을 반환하는 함수입니다."""
    return abs(a - b)

print(min(5,6))
print(help(min))

1
Help on function min in module __main__:

min(a, b)
    이 함수는 a와 b를 뺀 값의 절대값을 반환하는 함수입니다.

None

In [105]:
# 여러 값 반환하기

def add_sub(a, b):
    return a + b, a - b
print(add_sub(10, 20))

x, y = add_sub(10, 20)
print(x, y)

(30, -10)
30 -10

In [106]:
def mul(a, b):
    c = a * b
    return c
 
def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)
 
x = 10
y = 20
add(x, y)

30
200

In [108]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
    print('\n')

personal_info('홍길동', 30, '서울시 용산구 이촌동')
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동


이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동


이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [109]:
# unpacking(딕셔너리 같은 경우 ** 두개)

def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
    print('\n')

x = {'name': '홍길동', 'age': 25, 'address': '뷍'}
personal_info(**x)

이름:  홍길동
나이:  25
주소:  뷍

In [123]:
# 관레로 kwargs(kewword arguments) 씀

def personal_info(**kwargs):
    print(kwargs)
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep = '')

personal_info(name = '홍길동', age = 30, address = 'dasf')

print('\n')
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

{'name': '홍길동', 'age': 30, 'address': 'dasf'}
name: 홍길동
age: 30
address: dasf


{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [128]:
def custom_print(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)
    print(*args, **kwargs)

custom_print(1, 2, 3, sep = ':', end = '')

args: (1, 2, 3)
kwargs: {'sep': ':', 'end': ''}
1:2:3

In [117]:
def personal_info(**kwargs):
    if 'name' in kwargs:
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

info = {'name': '홍길동', 'age': 25, 'address': 'adsf'}

personal_info(**info)

이름:  홍길동
나이:  25
주소:  adsf

In [130]:
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
    
personal_info('알', 24)
print('\n')
personal_info('불', 27, '올챙')

이름:  알
나이:  24
주소:  비공개


이름:  불
나이:  27
주소:  올챙

In [140]:
plus_ten = (lambda x: x + 10)(100)
print(plus_ten)

plus_one = (lambda x: x + 1)
print(plus_one(1))

110
2