# íŒŒì´ì¬ DB ë¹„êµ : MySQL(PyMySQL) vs Oracle(python-oracledb) vs SQLite3


## 1. ê³µí†µ ì¤€ë¹„ ì‚¬í•­

- **ì„¤ì¹˜ ë¼ì´ë¸ŒëŸ¬ë¦¬**
  - MySQL: `pip install pymysql`
  - Oracle: `pip install oracledb`
  - SQLite3: (íŒŒì´ì¬ í‘œì¤€ ë¼ì´ë¸ŒëŸ¬ë¦¬, ì„¤ì¹˜ ë¶ˆí•„ìš”)


## 2. ì„¸ ê°€ì§€ DB ë¹„êµí‘œ

| êµ¬ë¶„ | MySQL (PyMySQL) | Oracle (python-oracledb) | SQLite3 |
|------|-----------------|--------------------------|---------|
| ê¸°ë³¸ í¬íŠ¸ | 3306 | 1521 | ì—†ìŒ (íŒŒì¼ ê¸°ë°˜) |
| ë°ì´í„° íƒ€ì… | `VARCHAR`, `INT`, `DATETIME` | `VARCHAR2`, `NUMBER`, `DATE` | `TEXT`, `INTEGER`, `REAL` |
| ìë™ ì¦ê°€ í‚¤ | `AUTO_INCREMENT` | `IDENTITY` ë˜ëŠ” ì‹œí€€ìŠ¤ í•„ìš” | `AUTOINCREMENT` |
| íŒŒë¼ë¯¸í„° ë°”ì¸ë”© | `%s` | `:1`, `:name` | `?` |
| ì¥ì  | ì˜¤í”ˆì†ŒìŠ¤, ì›¹ê°œë°œì— ì í•© | ì•ˆì •ì„±, ëŒ€ê·œëª¨ íŠ¸ëœì­ì…˜ ì§€ì› | ì„¤ì¹˜ ë¶ˆí•„ìš”, ê°€ë³ê³  ì´ì‹ì„± ë†’ìŒ |
| ë‹¨ì  | ëŒ€ê·œëª¨ ì„œë¹„ìŠ¤ ì„±ëŠ¥ í•œê³„ | ì„¤ì¹˜Â·ê´€ë¦¬ ë³µì¡ | ëŒ€ê·œëª¨ ë™ì‹œì ‘ì† ë¶ˆë¦¬ |

## 3. DB ì—°ê²° ì˜ˆì œ

In [ ]:

# MySQL ì—°ê²° (PyMySQL)
import pymysql

conn_mysql = pymysql.connect(
    host="localhost",
    user="root",
    password="1234",
    database="testdb",
    charset="utf8mb4"
)
print("MySQL ì—°ê²° ì„±ê³µ:", conn_mysql.open)

In [ ]:

# Oracle ì—°ê²° (python-oracledb Thin ëª¨ë“œ)
import oracledb

conn_oracle = oracledb.connect(
    user="scott",
    password="tiger",
    dsn="localhost/orclpdb1"  # host/service_name í˜•ì‹
)
print("Oracle ì—°ê²° ì„±ê³µ:", conn_oracle.version)

In [ ]:

# SQLite3 ì—°ê²°
import sqlite3

conn_sqlite = sqlite3.connect("testdb.sqlite3")
print("SQLite3 ì—°ê²° ì„±ê³µ:", conn_sqlite)

## 4. í…Œì´ë¸” ìƒì„± ì˜ˆì œ

In [ ]:

# MySQL
cursor_mysql = conn_mysql.cursor()
cursor_mysql.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT
)
""")
print("MySQL students í…Œì´ë¸” ìƒì„± ì™„ë£Œ")

In [ ]:

# Oracle
cursor_oracle = conn_oracle.cursor()
cursor_oracle.execute("""
BEGIN
   EXECUTE IMMEDIATE 'DROP TABLE students';
EXCEPTION
   WHEN OTHERS THEN NULL;
END;
""")
cursor_oracle.execute("""
CREATE TABLE students (
    id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    name VARCHAR2(50),
    age NUMBER
)
""")
print("Oracle students í…Œì´ë¸” ìƒì„± ì™„ë£Œ")

In [ ]:

# SQLite3
cursor_sqlite = conn_sqlite.cursor()
cursor_sqlite.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER
)
""")
print("SQLite3 students í…Œì´ë¸” ìƒì„± ì™„ë£Œ")

## 5. ë°ì´í„° ì‚½ì… ì˜ˆì œ

In [ ]:

# MySQL (%s placeholder)
cursor_mysql.execute("INSERT INTO students (name, age) VALUES (%s, %s)", ("í™ê¸¸ë™", 20))
conn_mysql.commit()

In [ ]:

# Oracle (:1, :2 placeholder)
cursor_oracle.execute("INSERT INTO students (name, age) VALUES (:1, :2)", ("í™ê¸¸ë™", 20))
conn_oracle.commit()

In [ ]:

# SQLite3 (? placeholder)
cursor_sqlite.execute("INSERT INTO students (name, age) VALUES (?, ?)", ("í™ê¸¸ë™", 20))
conn_sqlite.commit()

## 6. ë°ì´í„° ì¡°íšŒ ì˜ˆì œ

In [ ]:

cursor_mysql.execute("SELECT * FROM students")
print("MySQL:", cursor_mysql.fetchall())

cursor_oracle.execute("SELECT * FROM students")
print("Oracle:", cursor_oracle.fetchall())

cursor_sqlite.execute("SELECT * FROM students")
print("SQLite3:", cursor_sqlite.fetchall())


## 7. ì •ë¦¬

- **MySQL (PyMySQL)** â†’ ì˜¤í”ˆì†ŒìŠ¤, ì›¹ì„œë¹„ìŠ¤ìš©ìœ¼ë¡œ ë„ë¦¬ ì“°ì„  
- **Oracle (python-oracledb)** â†’ ëŒ€ê·œëª¨ íŠ¸ëœì­ì…˜, ì—”í„°í”„ë¼ì´ì¦ˆ í™˜ê²½ì— ê°•ì   
- **SQLite3** â†’ ê°€ë³ê³  ì„¤ì¹˜ í•„ìš” ì—†ìŒ. ì‹¤ìŠµ ë° ì†Œê·œëª¨ ì•±ì— ì í•©  

ğŸ‘‰ ì„¸ DB ëª¨ë‘ íŒŒë¼ë¯¸í„° ë°”ì¸ë”©ì„ ì§€ì›í•˜ì§€ë§Œ, ë¬¸ë²•ì´ ë‹¤ë¥´ë¯€ë¡œ ì£¼ì˜í•´ì•¼ í•¨.